body
{
    background-color: #352e7c;
}
body .main-container
{
    height: 50em;
    background-color: #e6b476;
    margin: -10px 100px -10px 100px;
    padding-top: 2%;
}
body .main-container .title-container
{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
body .main-container .title-container .title-image
{
    height: 15em;
    width: 15em;
}
body .main-container .title-container .fa-eye-slash
{
    visibility: hidden;
}
body .main-container .title-container a
{
   margin-right: 20px;
   margin-bottom: 214px;
   font-size: 25px;
   color: black;
}
body .main-container .title-container a .fa-circle-user:hover
{
   background-color: #0d82ae;
   border-radius: 15px;
}
body .main-container .header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("/img/header.png");
    padding: 10px 0px 10px 0px;
}
body .main-container .header a
{
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
body .main-container .header a:hover,
body .main-container .header a:active
{
    background-color: #352e7c;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}
body .main-container .header .fa-hat-wizard
{
    font-size: 25px;
}

