body
{
    background-color: #352e7c;
}
body .main-container
{
    height: 50em;
    background-color: #e6b476;
    margin: -10px 100px -10px 100px;
    padding-top: 2%;
}
body .main-container .title-container
{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
body .main-container .title-container .title-image
{
    height: 15em;
    width: 15em;
}
body .main-container .title-container .fa-eye-slash
{
    visibility: hidden;
}
body .main-container .title-container .fa-circle-user
{
   margin-right: 20px;
   font-size: 25px;
}
body .main-container .header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body .main-container .header h1
{
    font-size: 25px;
}
body .main-container .header .fa-hat-wizard
{
    font-size: 20px;
}
